<ion-content fullscreen scrollbar-y="false">
  <div class="split-logo">
    <img
      src="https://img.freepik.com/free-vector/bill-analysis-concept-illustration_114360-15629.jpg?t=st=1732854863~exp=1732858463~hmac=9a5c8b6733d795ae9abf3ede25b78e0b03d032210e143eb228bbca8e20d030fc&w=740"
      alt="App Logo"
    />
    <ion-toolbar style="text-align: center">
      <ion-label>SplitX</ion-label>
    </ion-toolbar>
  </div>

  <ion-footer class="footer-padding">
    <ion-button
      class="button-spacing"
      expand="full"
      color="voilet"
      [routerLink]="['/sign-up']"
    >
      SignUp
    </ion-button>
    <ion-button
      class="button-spacing"
      expand="full"
      color="voilet"
      [routerLink]="['/login']"
    >
      Login
    </ion-button>
  </ion-footer>
</ion-content>
