<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [scrollY]="false" class="dashboard-content">
  <router-outlet></router-outlet>
</ion-content>

<ion-footer>
  <div class="footer">
    <div class="footer-inner" (click)="directToPage('group')">
      <ion-icon
        name="people-outline"
        [ngClass]="{ 'active-icon': activeRoute === 'group' }"
      ></ion-icon>
      <ion-label [ngClass]="{ 'active-label': activeRoute === 'group' }"
        >Group</ion-label
      >
    </div>
    <div class="footer-inner" (click)="directToPage('friends')">
      <ion-icon
        name="person-outline"
        [ngClass]="{ 'active-icon': activeRoute === 'friends' }"
      ></ion-icon>
      <ion-label [ngClass]="{ 'active-label': activeRoute === 'friends' }"
        >Friends</ion-label
      >
    </div>
    <div class="footer-inner" (click)="directToPage('activity')">
      <ion-icon
        name="clipboard-outline"
        [ngClass]="{ 'active-icon': activeRoute === 'activity' }"
      ></ion-icon>
      <ion-label [ngClass]="{ 'active-label': activeRoute === 'activity' }"
        >Activity</ion-label
      >
    </div>
    <div class="footer-inner" (click)="directToPage('account')">
      <img
        [src]="userSignal.user()?.profilePic"
        alt="User Image"
        [ngClass]="{
          'active-img': activeRoute === 'account',
          'profile-image': activeRoute !== 'account'
        }"
      />
      <ion-label [ngClass]="{ 'active-label': activeRoute === 'account' }"
        >Account</ion-label
      >
    </div>
  </div>
</ion-footer>
