:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full height */
}

ion-content {
  flex: 1; /* Fills the space above footer */
  overflow: auto;
  --padding-bottom: 70px; /* Reserve space for footer */
}

ion-footer {
  height: 70px; /* Set footer height */
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

ion-icon {
  font-size: 20px;
}

ion-label {
  font-size: small;
}

.active-icon,
.active-label {
  color: #7843db; /* Active icon color */
}

.active-img {
  border: 2px solid #7843db;
  border-radius: 50%; /* Makes the image round */
  padding: 2px; /* Optional padding between the image and the border */
  width: 30px;
  height: 30px;
  object-fit: cover; /* Ensures image maintains aspect ratio */
}

.profile-image {
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
