ion-back-button {
  //   --color: #3c2c80;
  --color: #7843db;
}
ion-input {
  //   --highlight-color-invalid: #ff0000; /* Highlight color when invalid */
  --highlight-color-valid: #7843db; /* Highlight color when valid */
  --highlight-color-focused: #7843db;
  --highlight-color-invalid: #ff0000;
}
ion-button {
  --color: #000;
  --border-color: #7843db;
}
