#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.split-logo {
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100%; /* Use full height of the viewport */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

ion-footer {
  position: absolute; /* Fix position */
  bottom: 0; /* Stick footer to the bottom */
  left: 0;
  width: 100%; /* Make footer span full width */
}

.footer-padding {
  padding: 0 16px; /* Horizontal padding */
}

.button-spacing {
  margin-bottom: 10px; /* Space between buttons */
}
